//variables.styl
//主题颜色
themeColor = #027fff
//白色
whiteColor = #ffffff
//黑色
blackColor = #000000
//通用灰色
grayColor = #b2b2b2
//背景色
backGroundColor = #f4f5f5
//边框色
borderColor = #e1e1e1
//消息提醒框背景色
messageBackgroundColor = red
//主文本颜色
textColor = #666666
//足迹主题颜色
footColor = #49EAE5


//设置公共样式
// 字号
size12 = 12px
size16 = 16px
// 字体颜色
darkgrayColor = darkgray
//border
bottom1 = 1px solid #E5E7ED